@media (max-width: 600px) {
    /* ... outros estilos ... */
    input, select, .consulta-capturas .actions button {
        width: 100%;
    }

    .registo-captura input,
    .registo-captura select {
        width: auto; /* Ou outra largura desejada para telas pequenas */
        max-width: 100%; /* Para garantir que não ultrapassam o contêiner */
    }
}

    table th, table td {
        padding: 6px;
        white-space: normal;
    }

    table th:nth-child(1),
    table td:nth-child(1) {
        width: 15%;
    }

    table th:nth-child(2),
    table td:nth-child(2) {
        width: 10%;
    }

    table th:nth-child(3),
    table td:nth-child(3) {
        width: 10%;
    }

    table th:nth-child(4),
    table td:nth-child(4) {
        width: 20%;
    }

    table th:nth-child(5),
    table td:nth-child(5) {
        width: 18%;
    }

    table th:nth-child(6),
    table td:nth-child(6) {
        width: 13%;
    }

    .table-container {
        overflow-x: auto;
        display: block;
    }

    table {
        display: block;
        white-space: nowrap;
    }

    table td:last-child button {
        padding: 8px 12px;
        font-size: 12px;
    }

    /* Adicionado para ajustar a largura dos campos de registo e botões de consulta em telas menores */
    input, select, .consulta-capturas .actions button {
        width: 100%;
    }
}